SECRET_KEY_BASE=

FRONTEND_URL=
DEFAULT_LOCALE=
FORCE_SSL=
ENABLE_ACCOUNT_SIGNUP=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DATABASE=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
RAILS_MAX_THREADS=

REDIS_URL=
REDIS_PASSWORD=

INSTALLATION_NAME=
RAILS_LOG_TO_STDOUT=
LOG_LEVEL=
NODE_ENV=
RAILS_ENV=
INSTALLATION_ENV=

MAILER_SENDER_EMAIL=
SMTP_DOMAIN=
SMTP_ADDRESS=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_AUTHENTICATION=
SMTP_ENABLE_STARTTLS_AUTO=

ACTIVE_STORAGE_SERVICE=
ENABLE_PUSH_RELAY_SERVER=
ACTION_CABLE_ALLOWED_REQUEST_ORIGINS=
