OPENAI_API_KEY=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_WEBHOOK_VERIFY_TOKEN=
GOOGLE_CREDS_DIR=
DB_PASSWORD=
EMAIL_PASSWORD=
EMAIL_ADDRESS=
EMAIL_TO=


# Instagram Configuration
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_PAGE_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_WEBHOOK_VERIFY_TOKEN=

# Google Service Account (permanent key - never expires)
GOOGLE_SERVICE_ACCOUNT_FILE=

GOOGLE_CALENDAR_ID=
JWT_SECRET=
DB_HOST=
BOT_BASE_URL=
CHATWOOT_BASE_URL=
CHATWOOT_API_TOKEN=
CHATWOOT_ACCOUNT_ID=
CHATWOOT_INBOX_ID=
